body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(rgb(100, 0, 190), black);
    background-size: cover;
    background-attachment: fixed;
}

#form-container{
    background-color: rgb(228, 226, 206);
    width: 600px;
    height: 710px;
    border-radius: 5%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

#title-container{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 20px;
}
#title-arrow{
    margin-top: 30px;
    margin-right: 2.5px;
}
#title-title{
    margin-left: 2.5px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 35px;
}

form .txt_field{
    position: relative;
    margin-bottom: 20px;
}

.txt_field input, select{
    width: 200px;
    height: 50px;
    padding-left: 40px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    background: rgb(82, 149, 177);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    width: 240px;
    height: 50px;
}

option{
    border: 0px transparent;
}

.txt_field label{
    position: absolute;
    color: rgba(0, 0, 0, 0.555);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
}

.tlabel{
    top: 55%;
    left: 40px;
}

.olabel{
    top: 30px;
    left: 40px;
}

#genlabel{
    left: 35px;
}

#date::-webkit-calendar-picker-indicator{
    margin-left: -40px;
    padding: 0;
    border: 0;
    width: 240px;
    height: 50px;
    position: absolute;
    color:transparent;
    opacity: 0;
    pointer-events: auto;
    cursor: pointer;
}

#date:in-range::-webkit-datetime-edit-year-field, 
#date:in-range::-webkit-datetime-edit-month-field, 
#date:in-range::-webkit-datetime-edit-day-field, 
#date:in-range::-webkit-datetime-edit-text{
    color: transparent;
}


.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -4px;
    left: 2px;
    color: #2691d9;
}

#footer-container #checkbox{
    margin-left: 20px;

}

#footer-container #checkbox:checked{
    margin-left: 20px;
    padding: 100px;
    background-color: black;
}

#footer-container #submit{
    width: 200px;
    height: 50px;
    margin-left: 190px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    background: rgb(82, 149, 177);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

#login{
    margin-left: 170px;
}
