*{
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: bold;
    background-attachment: fixed;
}
body{
    overflow:visible;
}

.container-father{
    
}


/* -------------------------Barra de navegacion------------------------ */
/* Flex Navegacion */
.nav{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Logo */
.bglogo{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    max-width: 150px;
    min-width: 105px;
    flex-shrink: 7;
}
.bglogo img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}
/* Barra Busqueda */
.nav-bar{
    flex-shrink: 2;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 2;
    background: #D9D9D9;
    border: 1px solid #000000;
    padding-right: 10px;
    margin-right: 5px;
    width: 80%;
    height: 100px;

}
.search{ /* -> Texto Busqueda */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
}
#search-bar{ /* -> Input Navegacion */
    
    position: relative;
    border: 0px transparent;
    border-left: white 5px solid;
    font-size: 20px;
    width: 100%;
    height: 80%;
    top: 10px;
}



.login{/* -> Container del Login */
    flex-shrink: 6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    background: #ffffff;
    
}
/* Boton Login */
#persona{
    font-size: 30px;
    text-decoration: none;
    color: white;
    outline: none;
    padding: 10px;
    padding-bottom: 9px;
    border-radius: 50%;
    transition: 0.2s;
}

#persona:hover{/* -> !!!!Cambiar!!!!! */
    background-color:#D9D9D9;
}

#persona img{
    width: 100%;
}


/* ------------------------FIN------------------------------- */




/* -------------------------Carrusel Recomendados------------------------ */
#container-popular{
    position: absolute;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 5px;
    box-shadow: 2px 2px 7px black;
    top: 200px;
    right: 20px;
    left: 20px;
    max-height: 400px;
    min-height: 200px;
    overflow: hidden;
}


#container-descrippop{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    width: 40%;
    height: 400px;
}

#small-info{
    position: relative;
    top: 20px;
    font-size: 30px;
    text-align: center;
    width: 90%;
}

#small-info h3, #small-info p{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

#small-info p{
    font-weight:200;
    font-size: 15px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

#complete-info{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 90%;
    height: 105px;
    background-color: white;
}

#complete-info div{
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
}
/* -------------------------FIN------------------------ */


/* -------------------------Mosaico------------------------ */
.container-pattern{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 550px;

}

.container-content{
    width: 27%;
    height: 303px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px black;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 40px;
}

.containerinfo-content, #img-cont{
    width: 100%;
    height: 243px;
}


.containerinfo-content{
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 1000px;
    transition: 0.5s;
    margin-top: -60px;
}

#img-cont{
    height: 100%;
    transition: 0.5s;
}

.containerinfo-title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    top: 12px;
    margin-left: 20px;
    width: 90%;
}

.title{
    width: 160px;
}

.container-content h4, h3{
    position: relative;
    font-size: 20px;
    text-align: center;
}

#bar-content::after{
    content: '';
    position:absolute;
    margin: 0px;
    border: 0px;
    top: 11px;
    left: 171px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 100%;
    transition: 0.5s;
}

.container-content:hover  #img-cont{
    cursor: pointer;
    margin-top: 0px;
}

.container-content:hover .containerinfo-content{
    cursor: pointer;
    margin-top: -310px;
    background-color: white;
    color: #000000;
}

.container-content:hover #bar-content::after{
    top: 0px;
    left: 176px;
    height: 30px;
    width: 3px;
    border-radius: 0%;
    background-color: #000000;
}

.container-describe{
    position: relative;
    top: 30px;
    width: 90%;
    margin-left: 20px;
    text-align: justify;
}
/* -------------------------FIN------------------------ */





/*
652 min navbar -> Ya no se achica bien, necesita 

*/


@media only screen and (max-width: 600px) {
    .n {width: 30vw;}
}

@media only screen and (min-width: 600px) {
    .n {width: 40vw;}
}

@media only screen and (min-width: 768px) {
    .n {width: 50vw;}
} 

@media only screen and (max-width: 768px) {
    .n {width: 50vw;}
} 
  
@media only screen and (min-width: 992px) {
    .n {width: 76vw;}
} 
  
@media only screen and (min-width: 1200px) {
    .n {width: 78vw;}
}

@media only screen and (min-width: 1300px) {
    .n {width: 80vw; background-color: aqua;}
}