*{
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: bold;
}

body{
    overflow-y:visible;
}

.bglogo{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
}

img{
    width: 150px;
    height: 150px;
}

.nav-bar{
    position: absolute;
    width: 865px;
    height: 100px;
    top: 65px;
    left: 220px;
    background: #D9D9D9;
    border: 1px solid #000000;
}

#search-container{
    display: inline-block;
    margin-top: -16px;
    margin-left: 130px;
    width: 950px;
    height: 70px;
}

#search-bar{
    border: 0px transparent;
    position: relative;
    border-left: white 5px solid;
    height: 100%;
    width: 75%;
    font-size: 20px;
    top: 7px;
}

.search{
    position: relative;
    top: 40px;
    left: 25px;
}

#container-login{
    position: relative;
    background-color: rgb(104, 118, 124);
    width: 235px;
    height: 100px;
    transition: 0.1s;
}

#container-login:hover{
    background-color:#2691d9;
}

#login{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color: white;
    top: 25px;
    left: 23px;
    outline: none;
}

.person{
    position: relative;
    width: 100px;
    height: 150px;
    left: 200px;
    background-color: rgba(185, 185, 185, 0.8);
}

.material-symbols-outlined{
    position: absolute;
    font-size: 30px;
    font-weight: 1000;
}

#container-popular{
    position: relative;
    background-color: #16A6E4;
    margin-left: 40px;
    margin-top: 200px;
    width: 1280px;
    height: 400px;
}

#img-pop{
    position: relative;
    bottom: 400px;
}
#img-pop img{
    width: 1280px;
    height: 400px;
}

#container-descrippop{
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    width: 480px;
    height: 400px;
}

#small-info{
    position: relative;
    top: 20px;
    font-size: 30px;
    text-align: center;
    left: 10px;
    right: 10px;
    width: 460px;
}

#small-info h3, #small-info p{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 10px;
}

#small-info p{
    font-weight:200;
    font-size: 15px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

#complete-info{
    margin-top: 50px;
    margin-left: 20px;
    width: 440px;
    height: 105px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#complete-info div{
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
}