*{
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: bold;
}

body{
    overflow-y:visible;
}

.bglogo{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 150px;
    height: 150px;
    background-color: #D9D9D9;
    border: 0px solid #000000;
}

img{
    width: 150px;
    height: 150px;
}

.nav-bar{
    position: absolute;
    width: 1100px;
    height: 100px;
    top: 65px;
    left: 220px;
    background: #D9D9D9;
    border: 0px solid #000000;
}

#search-container{
    display: inline-block;
    margin-top: -15px;
    margin-left: 130px;
    width: 950px;
    height: 70px;
}

#search-bar{
    border: 0px transparent;
    position: relative;
    border-left: white 5px solid;
    height: 100%;
    width: 75%;
    font-size: 20px;
    top: 7px;
}

.search{
    position: relative;
    top: 40px;
    left: 25px;
}

#container-login{
    border: 0px transparent;
    position: relative;
    margin-left: 735px;
    bottom: 78px;
    background-color: rgb(104, 118, 124);
    width: 235px;
    height: 100px;
    transition: 0.1s;
}

#container-login:hover{
    background-color:#2691d9;
}

#login{
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: white;
    top: 25px;
    left: 23px;
    outline: none;
}

.person{
    position: relative;
    width: 100px;
    height: 150px;
    left: 200px;
    background-color: rgba(185, 185, 185, 0.8);
}

.material-symbols-outlined{
    position: absolute;
    font-size: 30px;
    font-weight: 1000;
}

#container-popular{
    position: relative;
    background-color: #16A6E4;
    margin-left: 40px;
    margin-top: 200px;
    width: 1280px;
    height: 400px;
    margin-bottom: 30px;
}

#img-pop{
    position: relative;
    bottom: 400px;
}
#img-pop img{
    width: 1280px;
    height: 400px;
}

#container-descrippop{
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    width: 480px;
    height: 400px;
}

#small-info{
    position: relative;
    top: 20px;
    font-size: 30px;
    text-align: center;
    left: 10px;
    right: 10px;
    width: 460px;
}

#small-info h3, #small-info p{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 10px;
}

#small-info p{
    font-weight:200;
    font-size: 15px;
    text-align: justify;
    color: rgb(255, 255, 255);
}

#complete-info{
    margin-top: 50px;
    margin-left: 20px;
    width: 440px;
    height: 105px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#complete-info div{
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
}

.container-pattern{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1280px;
    margin-left: 35px;
}

.container-content{
    width: 372px;
    height: 303px;
    border: 10px #8F9B8C solid;
    background-color: #ffffff;
    overflow: hidden;
    margin: 5px;
    margin-bottom: 30px;
}

.containerinfo-content, #img-cont{
    width: 100%;
    height: 243px;
}


.containerinfo-content{
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 1000px;
    transition: 0.5s;
    margin-top: -60px;
}

#img-cont{
    height: 100%;
    transition: 0.5s;
}

.containerinfo-title{
    position: relative;
    display: flex;
    justify-content: space-between; 
    top: 12px;
    margin-left: 20px;
    width: 334px;
}

.title{
    width: 160px;

}

.container-content h4, h3{
    position: relative;
    font-size: 20px;
    text-align: center;
}


.container-describe{
    position: relative;
    top: 30px;
}

#bar-content::after{
    content: '';
    position:absolute;
    margin: 0px;
    border: 0px;
    top: 11px;
    left: 171px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 100%;
    transition: 0.5s;
}

.container-content:hover  #img-cont{
    cursor: pointer;
    margin-top: 0px;
}

.container-content:hover .containerinfo-content{
    cursor: pointer;
    margin-top: -310px;
    background-color: white;
    color: #000000;
}

.container-content:hover #bar-content::after{
    top: 0px;
    left: 176px;
    height: 30px;
    width: 3px;
    border-radius: 0%;
    background-color: #000000;
}

.container-describe{
    top: 30px;
    width: 332px;
    margin-left: 20px;
    text-align: justify;
}