*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("../img/fondo-login.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.fatherContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20vw;
    height: 100vh;
    width: 100vw;
    transition: 0.1s;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
    margin: 0px;
    padding: 10px;
    height: 50vh;
    width: 100%;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined{
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #16A6E4;
    font-weight: 900;
}

#icon{
    position: absolute;
    left: 15px;
    top: 40%;
    color: rgba(0,0,0,0.8);
}

h1{
    font-size: 35px;
    text-align: center;
    color: #16A6E4;
}

p{
    margin-top: 0;
    text-align: center;
}

.link{
    padding-left: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #16A6E4;
}

.contenedor{
    width: 100%;

    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

/*transición correo y contraseña*/

.txt_field{
    position: relative;

}

.txt_field input{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: none;
    background: rgba(14, 124, 171, 0.7);
    outline: none;
    border-radius: 10px;
}

.txt_field label{
    position: absolute;
    top: 55%;
    left: 40px;
    color: rgba(0, 0, 0, 0.555);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -7px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: rgba(141, 141, 141, 0.7);
    color: white;
    font-size: 16px;
}

button:hover{
    background: rgba(141, 141, 141, 0.9);
}
