*{
    margin: 0px;
    border: 0px;
    
}
   
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
}
    
#form-container{
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 710px;
    border-radius: 5%;
    border: 2px grey solid;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    overflow: hidden;
}

#title-container{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px grey solid;
}
#title-arrow{
    margin-top: 23px;
    margin-right: 2.5px;
}
#title-title{
    margin-top: 15px;
    margin-left: 2.5px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 35px;
}

form .txt_field{
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid grey;
}

.txt_field input, select{
    width: 200px;
    height: 50px;
    padding-left: 0px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    width: 200px;
    height: 50px;
    background-color: red;
}

#date{
    background-color: red;
}

option{
    border: 0px transparent;
}

.txt_field label{
    position: absolute;
    color: rgba(0, 0, 0, 0.637);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
}

.tlabel{
    top: 55%;
    left: 0px;
}

.olabel{
    top: 30px;
    left: 0px;
}

#genlabel{
    left: 0px;
}

#date::-webkit-calendar-picker-indicator{
    margin-left: -40px;
    padding: 0;
    border: 0;
    width: 240px;
    height: 50px;
    position: absolute;
    color:transparent;
    opacity: 0;
    pointer-events: auto;
    cursor: pointer;
}

#date:in-range::-webkit-datetime-edit-year-field, 
#date:in-range::-webkit-datetime-edit-month-field, 
#date:in-range::-webkit-datetime-edit-day-field, 
#date:in-range::-webkit-datetime-edit-text{
    color: transparent;
}

.barBottom{
    position: absolute;
    float: left;
    background-color: #2691d9;
    margin-top: 50px;
    margin-right: 5000px;
    width: 200px;
    color: #2691d9;
}

.txt_field span::before{
    content: '';
    position: absolute;
    margin: 0px;
    border: 0px;
    top: 57px;
    left: 0;
    width: 0%;
    height: 3px;
    background: #2691d9;
    transition: .4s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -4px;
    left: 0px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}


#footer-container #checkbox{
    margin-left: 20px;

}

#footer-container #checkbox:checked{
    margin-left: 20px;
    padding: 100px;
    background-color: black;
}

#footer-container #submit{
    width: 200px;
    height: 50px;
    margin-left: 190px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    background: rgb(82, 149, 177);
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

#checkbox{
    display: none;
}

#checkLabel{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 0px;
    background-color: rgb(255, 0, 0);
}

#checkLabel:before{
    position: relative;
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 43px;
    right: 3px;
    display: inline-block;
    background-color: white;
    border-radius: 5%;
    border: 1px rgb(82, 149, 177) solid;
    transition: .2s;
}



#checkbox-title{
    justify-content: center;
    font-size: 15px;
}

.checkbox-terms span{
    position: relative;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    left: 1.5px;
    top: 4px;
    margin-left: 43px;
    display: inline-block;
    background-color: white;
    border-radius: 5%;
    border: 1px rgb(82, 149, 177) solid;
    transition: .2s;
}

.checkbox-terms span::after{
    content: "";
    display:inline-block;
    position: relative;
    bottom: 7px;
    left: 2.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 0%;
    transition: .4s;
}


.checkbox-terms span:hover{
    background-color: rgb(185, 185, 185);
    cursor: pointer;
}

.checkbox-terms input:checked ~ span{
    background-color: rgb(82, 149, 177);
}

.checkbox-terms input:checked ~ span::after{
    background-color: white;
    opacity: 100%;
}

.checkbox-terms input{
    display: none;
}

#login{
    margin-left: 170px;
}
