body{
    margin: 0;
    background-image: url("../img/fondo-login.jpg");
    background-size: cover;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}

.contenedor{
    padding: 15px;
}

.material-symbols-outlined{
    font-size: 30px;
    position: absolute;
    top: 27px;
    left: 40px;
    color: #16A6E4;
    font-weight: 900;
}

#icon{
    position: absolute;
    left: 15px;
    top: 40%;
    color: rgba(0,0,0,0.8);
}

h1{
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: #16A6E4;
}

p{
    margin-top: 0;
    text-align: center;
}

.link{
    padding-left: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #16A6E4;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 400px;
        height: 370px;
        margin-top: 120px;
        border-radius: 20px;
    }
}

/*transición correo y contraseña*/

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

form .txt_field{
    position: relative;
    margin-bottom: 20px;
    margin-left: 15px;
}

.txt_field input{
    width: 95%;
    padding-left: 40px;
    margin-top: 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: rgba(14, 124, 171, 0.7);
    outline: none;
    border-radius: 10px;
}

.txt_field label{
    position: absolute;
    top: 55%;
    left: 40px;
    color: rgba(0, 0, 0, 0.555);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -7px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

button{
    position: relative;
    width: 91%;
    height: 50px;
    left: 15px;
    border-radius: 8px;
    border: none;
    background: rgba(141, 141, 141, 0.7);
    color: white;
    font-size: 16px;
}

.password{
    position: relative;
    left: 40%;
    top: -10px;
    text-decoration: none;
    font-weight: 600;
    color: #16A6E4;
}