<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotelia</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/_css/blog.css">
    <link rel="shortcut icon" href="../static/Hotelia.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>

    <!--Header - menu-->
    <header>

        <div class="header-content">

            <div class="bglogo">
                <h1><img src="../static/Hotelia.png" alt=""> </h1>
            </div>

            <div class="menu" id="show-menu">

                <nav>
                    <ul>
                       
                        <li class="menu-selected"><a href="../templates/blog.html" class="text-menu-selected"> 
                         
                        <li><a href="../templates/Login.html"> <i class="fas fa-headset"></i> <img src="../static/img/Persona.png" alt=""> </a></li>
                    </ul>
                </nav>

            </div>

            <div id="ctn-icon-search">
                <i class="fas fa-search" id="icon-search"></i>
            </div>

        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>


    <div id="ctn-bars-search">
        <input type="text" id="inputSearch" placeholder="Escribe una localidad, hotel o direccion donde alojarte">
    </div>

    <ul id="box-search">
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>Lavid Hotel - Kennedy - Cl. 40b Sur #77a -04</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>HCombre Hotel Usme</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>FCombre Hotel Bogota</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>ZCZombre Hotel</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>ZCombre Hotel</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>ZXDCombre Hotel</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>Aombre Hotel</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>CR7ombre Hotel</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>RUombre Hotel</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>RRombre Hotel</a></li>
        <li><a href="../templates/articulo.html"><i class="fas fa-search"></i>RRombre Hotel</a></li>
    </ul>

    <div id="cover-ctn-search"></div>


    <!--Portada-->

    <div class="container-all" id="move-content">

    
    <div class="blog-container-cover">
        <div class="container-info-cover">
            <h1>¡Encuentra los mejores hoteles del mundo!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aliquam quis fuga beatae blanditiis assumenda.</p>
        </div>
    </div>

    <div class="container-post">

        <input type="radio" id="TODOS" name="categories" value="TODOS" checked>
        <input type="radio" id="Bogota" name="categories" value="Bogota">
        <input type="radio" id="Kennedy" name="categories" value="Kennedy">
        <input type="radio" id="Santa Fe" name="categories" value="Santa Fe">
        <input type="radio" id="San Cristobal" name="categories" value="San Cristobal">
        <input type="radio" id="Fontibon" name="categories" value="Fontibon">
        <input type="radio" id="Engativa" name="categories" value="Engativa">
        <input type="radio" id="Usme" name="categories" value="Usme">

        <div class="container-category">
            <label for="TODOS">TODOS</label>
            <label for="Bogota">Bogota</label>
            <label for="Kennedy">Kennedy</label>
            <label for="Fontibon">Fontibon</label>
            <label for="Engativa">Engativa</label>
            <label for="Usme">Usme</label>
        </div>

        <div class="posts">

            <div class="post" data-category="Kennedy Bogota">

                <div class="ctn-img">
                    <img src="../static/img/4.jpg" alt="">
                </div>
                <h4>Lavid Hotel - Kennedy - Cl. 40b Sur #77a -04 ㅤ<a class="boton" href="#">COP : 500.000$</a>
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label class="ru" for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label class="ru" for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label class="ru" for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label class="ru" for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label class="ru" for="radio5">★</label>
                        </p>
                      </form>
                      
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo-->
                </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                    <li>Bogota</li>
                </ul>
                <a href="../templates/articulo.html"><button>Leer más</button></a>

            </div>

            <div class="post" data-category="Usme">

                <div class="ctn-img">
                    <img src="../static/img/4.jpg" alt="">
                </div>
                <h4>HCombre Hotel Usme
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label class="ru" for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label class="ru" for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label class="ru" for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label class="ru" for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label class="ru" for="radio5">★</label>
                        </p>
                      </form>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo-->
                </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Usme</li>
                </ul>
                <a href="../templates/articulo.html"><button>Leer más</button></a>

            </div>

            <div class="post" data-category="Bogota">

                <div class="ctn-img"><img src="../static/img/5.jpg" alt=""></div>
                <h4>FCombre Hotel Bogota
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label class="ru" for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label class="ru" for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label class="ru" for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label class="ru" for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label class="ru" for="radio5">★</label>
                        </p>
                      </form>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Bogota</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="Fontibon">

                <div class="ctn-img"><img src="../static/img/8.jpg" alt=""></div>
                <h4>FCombre Hotel
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label class="ru" for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label class="ru" for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label class="ru" for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label class="ru" for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label class="ru" for="radio5">★</label>
                        </p>
                      </form>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Fontibon</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="Santa Fe Fontibon Engativa">

                <div class="ctn-img"><img src="../static/img/5.jpg" alt=""></div>
                <h4>ZCZombre Hotel
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label class="ru" for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label class="ru" for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label class="ru" for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label class="ru" for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label class="ru" for="radio5">★</label>
                        </p>
                      </form>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    
                    <li>Fontibon</li>
                    <li>Engativa</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

            <div class="post" data-category="Kennedy">

                <div class="ctn-img"><img src="../static/img/3.jpg" alt=""></div>
                <h4>ZCombre Hotel
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label class="ru" for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label class="ru" for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label class="ru" for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label class="ru" for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label class="ru" for="radio5">★</label>
                        </p>
                      </form>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>

       

            <div class="post" data-category="Kennedy Fontibon">

                <div class="ctn-img"><img src="../static/img/5.jpg" alt=""></div>
                <h4>ZXDCombre Hotel
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label class="ru" for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label class="ru" for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label class="ru" for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label class="ru" for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label class="ru" for="radio5">★</label>
                        </p>
                      </form>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                    <li>Fontibon</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>
            
            <div class="post" data-category="Kennedy Fontibon">

                <div class="ctn-img"><img src="../static/img/4.jpg" alt=""></div>
                <h4>Aombre Hotel <form>
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                      --><label class="ru" for="radio1">★</label><!--
                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                      --><label class="ru" for="radio2">★</label><!--
                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                      --><label class="ru" for="radio3">★</label>
                  </form></h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                    <li>Fontibon</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>
            
            <div class="post" data-category="Kennedy Fontibon">

                <div class="ctn-img"><img src="../static/img/6.jpg" alt=""></div>
                <h4>CR7ombre Hotel</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                    <li>Fontibon</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>
            
            <div class="post" data-category="Kennedy Fontibon">

                <div class="ctn-img"><img src="../static/img/1.jpg" alt=""></div>
                <h4>CRZmbre Hotel <form>
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                      --><label class="ru" for="radio1">★</label><!--
                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                      --><label class="ru" for="radio2">★</label><!--
                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                      --><label class="ru" for="radio3">★</label><!--
                      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                      --><label class="ru" for="radio4">★</label>
                    </p>
                  </form></h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                    <li>Fontibon</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>
            
            <div class="post" data-category="Kennedy Fontibon">

                <div class="ctn-img"><img src="../static/img/4.jpg" alt=""></div>
                <h4>RUombre Hotel <form>
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                      --><label class="ru" for="radio1">★</label><!--
                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                      --><label class="ru" for="radio2">★</label><!--
                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                      --><label class="ru" for="radio3">★</label><!--
                      --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                      --><label class="ru" for="radio4">★</label>
                    </p>
                  </form></h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                    <li>Fontibon</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>
            
            <div class="post" data-category="Kennedy Fontibon">

                <div class="ctn-img"><img src="../static/img/4.jpg" alt=""></div>
                <h4>RRombre Hotel <form>
                    <p class="clasificacion">
                      <input id="radio1" type="radio" name="estrellas" value="5"><!--
                      --><label class="ru" for="radio1">★</label><!--
                      --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                      --><label class="ru" for="radio2">★</label><!--
                      --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                      --><label class="ru" for="radio3">★</label>
                    
                    </p>
                  </form></h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam fames malesuada nunc litora quisque, 
                    rutrum ultrices dapibus congue scelerisque montes eleifend habitant porttitor tristique pharetra. 
                    Praesent bibendum venenatis inceptos ullamcorper ante ut dui metus, mus nascetur justo netus condimentum 
                    quam id tempus elementum, aptent nostra est vel magnis mi primis.
                    <!--50 palabras maximo--> </p>
                <span>26 febrero 2020 - 1:32 am</span>
                <ul class="ctn-tag">
                    <li>Kennedy</li>
                    <li>Fontibon</li>
                </ul>
                <a href="#"><button>leer más</button></a>

            </div>
            


            

        </div>

    </div>


    <div class="container-footer">	

        <footer>
            <div class="logo-footer">
                <img src="../static/Hotelia.png" alt="">
            </div>

          

            <hr>
            <h4>© 2023 Hotelia - Todos los Derechos Reservados</h4>

        </footer>

    </div>

</div>

    <script src="../static/js/script.js"></script>
</body>
</html>