<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="shortcut icon" href="../static/Hotelia.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../static/_css/Login.css">
</head>
<body>
    <form class="center">
        <a href="../templates/blog.html"><span class="material-symbols-outlined">
            arrow_back
        </span>
        </a>
        <h1>Ingresar</h1>
        <div class="contenedor">
            <div class="txt_field">
                <i class="fas fa-envelope icon" id="icon"></i>
                <input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required>
                <span></span>
                <label>Correo Electrónico</label>
            </div>
            <div class="txt_field">
                <i class="fas fa-key icon" id="icon"></i>
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <span></span>
            <a class="password" href="#">¿Has olvidado tu contraseña?</a>
            <button type="submit">Ingresar</button>
        </div>
        <p>¿No tienes cuenta? <a class="link" href="../templates/Registro.html">Regístrate</a></p>
    </form>
</body>
</html>