<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotelia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='./_css/landpage.css') }}">
    
</head>
<body>
    <div>
        <div class="bglogo">
            <p class="img"><img src="../static/Hotelia.png"></p>
        </div>
        <div class="nav-bar">
            <p class="search">BUSQUEDA</p>
            <div id="search-container">
                <input type="text" name="search" id="search-bar">
                <div id="container-login">
                    <a href="/Cuenta/Login" id="login"><span class="material-symbols-outlined">
                    person
                </span></a>
                </div>
            </div>
            <!--
            <div class="person">
                
            </div>
            -->
        </div>
        <div id="container-popular">
            <div id="container-descrippop">
                <div id="small-info">
                    <h3>Nombre Hotel</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit nullam nunc est urna sociis ante commodo sagittis morbi convallis, 
                        habitasse litora gravida luctus et facilisis platea fusce eros fermentum cum purus nisl aenean accumsan. Torquent ornare 
                        lacus dignissim dis sapien mus a lacinia parturient, ridiculus praesent senectus phasellus mauris tempor enim.</p>
                        <!--50 palabras maximo-->
                </div>
                <div id="complete-info">
                    <div>
                        <h4>Cantidad Estrellas</h4>
                    </div>
                    <div>
                        <h4>Recomendados Positivos</h4>
                    </div>
                </div>
            </div>
            <p id="img-pop"><img src="../static/1.jpg" alt="ref"></p>
        </div>

        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
</body>
</html>