<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.Titulos}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./_css/Registro.css') }}">
</head>
<body>
    <div id="form-container">
        <form action="">
            <div id="title-container">
                <a href="/" id="title-arrow">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
                </a>
                <H1 id="title-title">{{data.Titulos}}</H1>
            </div>
            <div class="row">
                <div class="txt_field">
                    <input type="text" class="text" required>
                    <span></span>
                    <label class="tlabel">Nombre</label>
                </div>
                <div class="txt_field">
                    <input type="text" class="text" required>
                    <span></span>
                    <label class="tlabel">Apellidos</label>
                </div>
            </div>
            <div class="row">
                <div class="txt_field">
                    <label class="olabel" id="doclabel">Tipo Documento</label>
                    <span></span>
                    <select name="DocType" id="DocType">
                        <option value="null"></option>
                        <option value="CC">Cedula</option>
                        <option value="TI">Tarjeta Identidad</option>
                        <option value="EX">Extranjera</option>
                    </select>
                </div>
                <div class="txt_field">
                    <input type="text" class="text" required>
                    <span></span>
                    <label class="tlabel">Numero Documento</label>
                </div>
            </div>
            <div class="row">
                <div class="txt_field">
                    <input type="text" class="text" required>
                    <span></span>
                    <label class="tlabel">Numero Celular</label>
                </div>
                <div class="txt_field">
                    <label class="olabel" id="genlabel">Genero</label>
                    <span></span>
                    <select name="Sex" id="Sex">
                        <option value="null"></option>
                        <option value="Male">Masculino</option>
                        <option value="Female">Femenino</option>
                        <option value="LGTB">Otro:</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="txt_field">
                    <label class="olabel" id="datelabel">Fecha Nacimiento</label>
                    <span></span>
                    <input type="date" id="date" required>
                </div>
                <div class="txt_field">
                    <input type="text" class="text" required>
                    <span></span>
                    <label class="tlabel">Ciudad</label>
                </div>
            </div>
            <div class="row">
                <div class="txt_field">
                    <input type="text" class="text" required>
                    <span></span>
                    <label class="tlabel">Correo Electronico</label>
                </div>
                <div class="txt_field">
                    <input type="text" class="text" required>
                    <span></span>
                    <label class="tlabel">Confirmar Correo</label>
                </div>
            </div>
            <div class="row">
                <div class="txt_field">
                    <input type="password" class="text" required>
                    <span></span>
                    <label class="tlabel">Contraseña</label>
                </div>
                <div class="txt_field">
                    <input type="password" class="text" required>
                    <span></span>
                    <label class="tlabel">Confirmar Contraseña</label>
                </div>
            </div>
        <div id="footer-container">    
            
            <label class="container">
                <input type="checkbox" >
                <div class="checkmark"></div>
            </label>
            <label id="checkbox-title">Al registrarte, aceptas nuestras condiciones de uso y Política de privacidad.</label>
            <br>
            <br>
            <input type="submit" id="submit">
        </div>
        </form>
        <div id="login">
            <br>
            <p>¿Ya tienes cuenta? <a class="link" href="Login">Iniciar Sesión</a></p>
        </div>
    </div>

</body>
</html>